body {
    font-family: 'Open Sans', sans-serif;
  }
  .m24
  {
    margin: 24px;
  }
  .ttci
  {
    text-transform: capitalize !important;
  }
  .crp
  {
    cursor: pointer;
  }
  .fwb
  {
    font-weight: bold;
  }